.c-domain-edge {
  .handle {
    cursor: pointer;

    rect {
      rx: 3;
      fill: @color-edge-background;
      stroke: @color-edge-border;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }

    .c-icon {
      stroke: @color-edge-chevron;
    }

    &.selected {
      rect {
        fill: @color-selected-edge-background;
        stroke: @color-selected-edge-border;
        stroke-width: 4;
      }

      .c-icon {
        stroke: @color-selected-edge-chevron;
      }
    }
  }

  path {
    stroke: @color-edge-border;
    stroke-width: 2;
    fill: none;

    &.optional {
      stroke-dasharray: 4 2;
    }

    &.selected {
      stroke: @color-selected-edge-border;
      stroke-width: 4;
    }
  }
}
