.c-spotlight {
  font-family: sans-serif;
  overflow: scroll;

  background-color: transparent;

  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;

  width: 400px;

  li {
    list-style-type: none;
  }

  ul {
    padding: 0;
  }

  .description,
  .notice {
    font-size: 90%;
    opacity: 90%;
  }

  .controls {
    position: absolute;

    .c-icon-button:hover {
      background-color: @color-node-preview-button-hover-background;
      stroke: @color-node-preview-button-hover-icon;
    }
  }

  .node-spotlight {
    position: relative;
    border: 2px solid @color-node-preview-border;
    background-color: @color-node-preview-background;
    color: @color-node-preview-text;
    margin: 10px;

    border-radius: 30px;
    padding: 16px 20px;

    li.edge.field {
      padding: 6px 8px 6px 8px;
      margin: -2px -8px -2px -8px;

      &.selected {
        border-left: 4px solid @color-selected-edge-border;
      }

      &:hover {
        cursor: pointer;
        background-color: @color-node-preview-button-hover-background;
      }

      .description {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .controls {
      top: 4px;
      right: 16px;

      .c-icon-button {
        background-color: @color-node-preview-button-background;
        stroke: @color-node-preview-button-icon;
      }
    }
  }

  .edge-spotlight {
    position: relative;
    border: 2px solid @color-edge-preview-border;
    background-color: @color-edge-preview-background;
    color: @color-edge-preview-text;

    border-radius: 5px;
    padding: 10px 20px;
    margin: 16px 30px;

    .controls {
      top: 1px;
      right: 1px;
      .c-icon-button {
        stroke: @color-node-preview-button-icon;
      }
    }
  }

  .enum-values,
  .input-fields {
    margin-top: 4px;
    margin-left: 8px;
    .deprecated {
      .name,
      .description {
        text-decoration: line-through;
      }

      .notice {
        padding: 0 8px 0 8px;
        font-style: italic;
      }
    }

    li.enum-value,
    li.input-field {
      margin-bottom: 4px;
    }
  }

  .field {
    padding-bottom: 8px;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }
}
