.c-spotlight {
  font-family: sans-serif;
  overflow: scroll;

  background-color: transparent;

  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;

  width: 400px;

  .controls {
    top: 4px;
    right: 16px;
    position: absolute;
  }

  .node-spotlight {
    position: relative;
    border: 2px solid @color-node-preview-border;
    background-color: @color-node-preview-background;
    color: @color-node-preview-text;
    margin: 10px;

    border-radius: 30px;
    padding: 16px 20px;

    .c-icon-button {
      background-color: @color-node-preview-button-background;
      stroke: @color-node-preview-button-icon;

      &:hover {
        background-color: @color-node-preview-button-hover-background;
        stroke: @color-node-preview-button-hover-icon;
      }
    }
  }

  .edge-spotlight {
    border: 2px solid @color-edge-preview-border;
    background-color: @color-edge-preview-background;
    color: @color-edge-preview-text;

    border-radius: 5px;
    padding: 10px 20px;
    margin: 16px 30px;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }
}
