.c-svg-button {
  circle.background {
    fill: @color-radial-menu-background;
    stroke: @color-radial-menu-border;
    stroke-width: 2;
  }
  .c-icon {
    stroke: @color-radial-menu-icon;
  }

  &:hover {
    circle.background {
      fill: @color-radial-menu-hover-background;
      stroke: @color-radial-menu-hover-border;
    }
    .c-icon {
      stroke: @color-radial-menu-hover-icon;
    }
  }

  .click-target {
    cursor: pointer;
    fill: transparent;
  }
}
