.c-button {
  cursor: pointer;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 2px solid @color-button-border;
  background-color: @color-button-background;

  font-size: 16px;

  &:focus,
  &:hover {
    outline: none;
    background-color: @color-button-hover-background;
  }

  .c-icon {
    margin-right: 8px;
  }
}
