// See: https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
@eggshell: #f4f1de;
@terra-cotta: #e07a5f;
@independence: #3d405b;
@green-sheen: #81b29a;
@deep-champagne: #f2cc8f;
@dark-gray: #222222;
@light-gray: #888888;

///// WINDOW /////

@color-window-background: @eggshell;
@color-window-text-default: @dark-gray;

///// ICONS /////

@color-icon-default: @independence;

///// GENERIC BUTTON /////

@color-button-background: @eggshell;
@color-button-border: @independence;
@color-button-hover-background: @deep-champagne;

///// NODES /////

@color-node-background: @green-sheen;
@color-node-border: @independence;
@color-node-text: @dark-gray;

@color-selected-node-background: @green-sheen;
@color-selected-node-border: @terra-cotta;
@color-selected-node-text: @dark-gray;

///// NODE PREVIEWS /////

@color-node-preview-background: @green-sheen;
@color-node-preview-border: @independence;
@color-node-preview-text: @dark-gray;

@color-node-preview-button-background: @green-sheen;
@color-node-preview-button-icon: @independence;
@color-node-preview-button-hover-background: @deep-champagne;
@color-node-preview-button-hover-icon: @independence;

///// EDGES /////

@color-edge-background: @eggshell;
@color-edge-border: @independence;
@color-edge-chevron: @independence;

@color-selected-edge-background: @eggshell;
@color-selected-edge-border: @terra-cotta;
@color-selected-edge-chevron: @independence;

///// EDGE PREVIEWS /////

@color-edge-preview-background: @eggshell;
@color-edge-preview-border: @independence;
@color-edge-preview-text: @dark-gray;

///// RADIAL MENUS /////

@color-radial-menu-background: @deep-champagne;
@color-radial-menu-border: @independence;
@color-radial-menu-icon: @independence;

@color-radial-menu-hover-background: @deep-champagne;
@color-radial-menu-hover-border: @independence;
@color-radial-menu-hover-icon: @independence;

///// SEARCH /////

@color-search-input-background: white;
@color-search-input-foreground: @dark-gray;
@color-search-input-placeholder: @light-gray;

///// TOOLBAR /////
@color-toolbar-background: @color-window-background;
@color-toolbar-foreground: @color-window-text-default;
@color-toolbar-active-background: @deep-champagne;
@color-toolbar-active-foreground: @color-window-text-default;

///// DATA PROVIDER /////

@color-drop-target-border: @independence;
@color-drop-target-ready-background: @deep-champagne;
