@import './colors.less';

.c-uploader {
  font-family: sans-serif;
  text-align: center;

  width: 500px;

  margin: 150px auto;
  padding: 50px;

  border-radius: 100px;

  border: 8px dashed @color-border-dark-primary;

  &.drop-ready {
    background-color: @color-background-secondary;
  }

  ul.errors {
    margin: 0;
    padding: 32px 0 0 0 ;
    li {
      list-style: none;
      display: inline-flex;
      align-items: center;

      .c-icon {
        margin-right: 8px;
      }
    }
  }
}
